<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/app_log/prj_weapp_mvc/app.log</file>
		<append>true</append>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<layout class="ch.qos.logback.classic.PatternLayout">

			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>

		</layout>
	</appender>

	<logger name="br.com.ibm" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>